{% extends "webapp/base.html" %}

{% block title %}
Tituloooo!
{% endblock %}

{% block content %}
<div style="background:black; color:white">
    Evidencias de: {{ doc.human_identifier }}
</div>
<div style="background:gray; color:white">
    Expedientes:<br />
    {% for exp in expedients %}
    {{ exp }}
    <br />
    {% endfor %}
    Ley: {{ law }}
</div>
<div style="background:lightgray">
    {% for evidence in evidences %}
    <div>
        {{ evidence.id }}
        {{ evidence.left_entity_occurrence.alias }}
        {{ evidence.right_entity_occurrence.alias }}
        {{ evidence.labels.first.label }}
    </div>
    {% endfor %}
</div>
{% endblock %}