{% extends "webapp/base.html" %}

{% block title %}Inicio{% endblock %}
{% block header %}Inicio{% endblock %}

{% block content %}
<!--<div style="background:blue; color:white">
    Documentos
</div>
<div style="background:lightblue">
    {% for doc in docs %}
        <div>
            <a href="evidences/{{ doc.id }}">
            {{ doc.id }}
            -
            {{ doc.human_identifier }}
            </a>
        </div>
    {% endfor %}
</div>-->
<p>Bienvenido a Voting, el sistema que te guia para votar correctamente.</p>
<p>Para ver el porcentaje de coincidencia con los diputados y partidos usted debe:</p>
<ul>
    <li>Responder algunas preguntas</li>
    <li>Ver los resultados</li>
</ul>

{% endblock %}