{% extends "webapp/base.html" %}

{% block title %}
Tituloooo!
{% endblock %}

{% block content %}
<div style="background:blue; color:white">
    Documentos
</div>
<div style="background:lightblue">
    {% for doc in docs %}
        <div>
            <a href="evidences/{{ doc.id }}">
            {{ doc.id }}
            -
            {{ doc.human_identifier }}
            </a>
        </div>
    {% endfor %}
</div>
<div>
    <a href="/webapp/question">Responder preguntas</a>
</div>
<div>
    <a href="/webapp/results">Resultados</a>
</div>

{% endblock %}