{% extends "webapp/base.html" %}

{% block title %}Preguntas{% endblock %}
{% block header %}Preguntas{% endblock %}

{% block content %}
<h5>Que pensas a cerca del siguiente proyecto de ley:</h5>
<p>{{ question }}</p>
<div>
    <form method="post" action="/webapp/choice/">
        {% csrf_token %}
        <input name="id_question" type="hidden" value="{{ question.id }}" />
        <p><input name="choice" type="radio" value="1" />A FAVOR</p>
        <p><input name="choice" type="radio" value="0" />EN CONTRA</p>
        <p><input name="choice" type="radio" value="-1" checked />INDIFERENTE</p>
        <br />
        <input class="btn btn-primary" type="submit" value="Responder" />
    </form>
</div>

{% endblock %}